* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(180deg, #fff8fb 0%, #f6fff7 100%);
  color: #333; 
}


#root > div > div:last-child {
  padding-top: 60px;
}